<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2.1.1/css/pico.min.css"
    >
</head>
<body>
    <main class="container-fluid">
        <img src="/static/images/yours_truly.jpg" alt="Yours Truly" width="350" height="350">
        <img src="/static/images/my_everything.jpg" alt="My Everything" width="350" height="350">
        <img src="/static/images/dangerous_woman.jpg" alt="Dangerous Woman" width="350" height="350">
    </main>
</body>
</html>