{% extends "base.html" %}
{% block content %}
    <header class="container">
        <h2>mini discog</h2>
        <p>an artist's music catalog</p>
    </header>

    <main class="container">
        <section id="artist-details">
            <h3>Ariana Grande</h3>
            <p>Born: June 26, 1993</p>
            <p>Years active: 2008 - Present</p>
            <p>Genres: Pop, R&B</p>
        </section>
        <a href="/artist">
            <img src="/static/images/ariana_grande.jpg" alt="Ariana Grande" width="500" height="500">
        </a>

    </main>
{% endblock content %}